Repository depromeet/www.depromeet.com, pull requests merged in 2022-08, with the labels that each got.

#83 Home route Header 섹션 개발
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/CI.yml
  src/components/common/icons/ScrollBottomIcon.tsx
  src/components/common/icons/Svg.tsx
  src/components/common/icons/index.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
  src/components/home/HeaderSection/index.tsx
  src/constants/motions/index.ts
  src/constants/motions/motions.ts
  src/pages/index.tsx
  src/styles/GlobalStyle/GlobalStyle.tsx
Labels: enhancement

#84 Home route Record 섹션 개발
  src/components/home/RecordSection/RecordSection.tsx
  src/components/home/RecordSection/index.tsx
  src/constants/motions/motions.ts
  src/pages/index.tsx
Labels: enhancement

#85 Home route team 섹션 개발
  src/components/common/Button/Button.tsx
  src/components/common/Button/index.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/components/home/TeamSection/index.tsx
  src/pages/index.tsx
  src/styles/GlobalStyle/GlobalStyle.tsx
  src/styles/constants/radius.ts
Labels: enhancement

#87 Home route schedule 섹션 개발
  src/components/home/ScheduleSection/ScheduleSection.tsx
  src/components/home/ScheduleSection/index.tsx
  src/constants/motions/motions.ts
  src/pages/index.tsx
Labels: enhancement

#88 Home route more info 섹션 개발
  src/components/home/MoreInfoSection/MoreInforSection.tsx
  src/components/home/MoreInfoSection/index.tsx
  src/constants/common/depromeet.ts
  src/constants/common/index.ts
  src/pages/index.tsx
  src/pages/interview.tsx
  src/pages/project/index.tsx
Labels: enhancement

#89 Home route apply 섹션 개발
  former-assets/common/components/Footer/Footer.tsx
  src/components/common/Button/Button.tsx
  src/components/common/CTAButton/CTAButton.tsx
  src/components/common/CTAButton/index.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/ApplySection/index.tsx
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
  src/components/home/MoreInfoSection/index.tsx
  src/constants/common/depromeet.ts
  src/pages/index.tsx
Labels: enhancement

#90 Footer 개발 및 적용
  src/components/common/Footer/Footer.tsx
  src/components/common/Footer/index.tsx
  src/components/common/icons/BehanceIcon.tsx
  src/components/common/icons/FacebookIcon.tsx
  src/components/common/icons/GithubIcon.tsx
  src/components/common/icons/InstagramIcon.tsx
  src/components/common/icons/MailIcon.tsx
  src/components/common/icons/MediumIcon.tsx
  src/components/common/icons/index.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
  src/constants/common/depromeet.ts
  src/pages/_app.tsx
Labels: enhancement

#91 Build warning 해결
  next.config.js
Labels: bug

#92 root route, footer 애니메이션 수정
  src/components/common/Footer/Footer.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
  src/components/home/RecordSection/RecordSection.tsx
  src/components/home/ScheduleSection/ScheduleSection.tsx
  src/components/home/TeamSection/TeamSection.tsx
Labels: enhancement

#93 Interview route 개발
  src/components/home/TeamSection/TeamSection.tsx
  src/components/interview/HeaderSection/HeaderSection.tsx
  src/components/interview/HeaderSection/index.tsx
  src/components/interview/InterviewSection/InterviewSection.tsx
  src/components/interview/InterviewSection/index.tsx
  src/components/interview/InterviewSection/source.ts
  src/pages/interview.tsx
  src/styles/constants/colors.ts
Labels: enhancement

#95 NavigationBar 적용
  src/components/common/NavigationBar/NavigationBar.tsx
  src/components/common/NavigationBar/index.tsx
  src/pages/_app.tsx
Labels: enhancement

#96 Contact route 개발
  public/images/contact/gmail.png
  public/images/contact/instagram.png
  public/images/contact/kakaotalk.png
  public/images/organizer/윤병호.png
  src/components/common/icons/BehanceIcon.tsx
  src/components/common/icons/FacebookIcon.tsx
  src/components/common/icons/GithubIcon.tsx
  src/components/common/icons/InstagramIcon.tsx
  src/components/common/icons/LinkedinIcon.tsx
  src/components/common/icons/MailIcon.tsx
  src/components/common/icons/MediumIcon.tsx
  src/components/common/icons/Svg.tsx
  src/components/common/icons/WebIcon.tsx
  src/components/common/icons/index.tsx
  src/components/contact/ContactSection/ContactSection.tsx
  src/components/contact/ContactSection/index.tsx
  src/components/contact/OrganizerSection/OrganizerCard.tsx
  src/components/contact/OrganizerSection/OrganizerSection.tsx
  src/components/contact/OrganizerSection/index.tsx
  src/components/contact/OrganizerSection/source.ts
  src/constants/images/images.ts
  src/constants/images/index.ts
  src/constants/motions/motions.ts
  src/pages/contact.tsx
Labels: enhancement

#99 분석 도구 부착
  src/constants/common/common.ts
  src/constants/common/index.ts
  src/hooks/use-record-pageview/index.ts
  src/hooks/use-record-pageview/use-record-pageview.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
Labels: enhancement

#101 home route 모바일 환경 대응
  src/components/common/Button/Button.tsx
  src/components/common/CTAButton/CTAButton.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
  src/components/home/RecordSection/RecordSection.tsx
  src/components/home/ScheduleSection/ScheduleSection.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/hooks/use-media-query/index.ts
  src/hooks/use-media-query/use-media-query.ts
  src/pages/_app.tsx
  src/styles/constants/media.ts
Labels: enhancement

#102 interview route 모바일 대응
  src/components/interview/HeaderSection/HeaderSection.tsx
  src/components/interview/InterviewSection/InterviewSection.tsx
  src/pages/_app.tsx
Labels: enhancement

#103 contact route 모바일 대응
  src/components/contact/ContactSection/ContactSection.tsx
  src/components/contact/OrganizerSection/OrganizerCard.tsx
  src/components/contact/OrganizerSection/OrganizerSection.tsx
Labels: enhancement

#106 sitemap, robots 생성
  public/robots.txt
  public/sitemap.xml
Labels: enhancement

#104 모집 페이지 - 애니메이션 | 타이머 | 카카오 링크 기능 추가
  src/components/common/CTAButton/CTAButton.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
  src/components/recruit/FaqSection/FaqSection.tsx
  src/components/recruit/FaqSection/constants.ts
  src/components/recruit/FaqSection/index.tsx
  src/components/recruit/HeaderSection/Finish.tsx
  src/components/recruit/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/InProgress.tsx
  src/components/recruit/HeaderSection/Previous.tsx
  src/components/recruit/HeaderSection/index.tsx
  src/components/recruit/PosiotionSection/Card.tsx
  src/components/recruit/PosiotionSection/PosiotionSection.tsx
  src/components/recruit/PosiotionSection/index.tsx
  src/components/recruit/RequirementSection/RequirementSection.tsx
  src/components/recruit/RequirementSection/index.tsx
  src/components/recruit/ScheduleSection/ScheduleGraph.tsx
  src/components/recruit/ScheduleSection/ScheduleSection.tsx
  src/components/recruit/ScheduleSection/constants.ts
  src/components/recruit/ScheduleSection/index.tsx
  src/components/recurit/FaqSection/constants.ts
  src/components/recurit/HeaderSection/HeaderSection.tsx
  src/components/recurit/PosiotionSection/PosiotionSection.tsx
  src/hooks/useeffect-once/index.ts
  src/hooks/useeffect-once/use-effect-once.ts
  src/pages/recruit/index.tsx
  src/pages/recurit/index.tsx
  src/utils/time.ts
Labels: enhancement

#107 Navigation bar, Footer 모바일 대응
  src/components/common/Footer/Footer.tsx
  src/components/common/NavigationBar/Anchor.tsx
  src/components/common/NavigationBar/DimOverlay.tsx
  src/components/common/NavigationBar/HamburgerButton.tsx
  src/components/common/NavigationBar/HamburgerContent.tsx
  src/components/common/NavigationBar/NavigationBar.tsx
Labels: feature, platform: mobile

#100 SEO 컴포넌트 개발 및 적용
  public/favicon.ico
  src/components/common/SEO/SEO.tsx
  src/components/common/SEO/index.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/components/interview/InterviewSection/source.ts
  src/constants/common/common.ts
  src/constants/common/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/interview.tsx
Labels: feature

#108 Navigation bar 상수 적용
  src/components/common/NavigationBar/NavigationBar.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
  src/components/interview/InterviewSection/InterviewSection.tsx
  src/pages/_app.tsx
Labels: design, refactor

#110 직군별 상세 정보 입력
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit-detail/constants.ts
Labels: feature

#111 모바일 네비게이션 높이 적용이 겹침 해결
  src/pages/_app.tsx
Labels: bug

#113 모집 직군 상세 mobile 사이즈 대응
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit-detail/HeaderSection/HeaderSection.tsx
  src/components/recruit-detail/OtherPostionSection/Card.tsx
  src/components/recruit-detail/OtherPostionSection/OtherPostionSection.tsx
  src/components/recruit-detail/constants.ts
Labels: design

#114 모집 모바일 페이지 대응
  src/components/common/Button/Button.tsx
  src/components/recruit-detail/OtherPostionSection/Card.tsx
  src/components/recruit/FaqSection/FaqSection.tsx
  src/components/recruit/HeaderSection/Finish.tsx
  src/components/recruit/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/InProgress.tsx
  src/components/recruit/HeaderSection/Previous.tsx
  src/components/recruit/PosiotionSection/Card.tsx
  src/components/recruit/PosiotionSection/PosiotionSection.tsx
  src/components/recruit/RequirementSection/RequirementSection.tsx
  src/components/recruit/ScheduleSection/ScheduleGraph.tsx
  src/components/recruit/ScheduleSection/ScheduleSection.tsx
  src/styles/constants/radius.ts
Labels: design

#115 home, contact route typo 수정
  src/components/contact/ContactSection/ContactSection.tsx
  src/components/contact/OrganizerSection/OrganizerSection.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/RecordSection/RecordSection.tsx
Labels: fix

#117 home route 팀 섹션 이미지 적용 및 typo 수정
  next.config.js
  public/images/position/icon/android.png
  public/images/position/icon/backend.png
  public/images/position/icon/design.png
  public/images/position/icon/ios.png
  public/images/position/icon/web.png
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
  src/components/home/RecordSection/RecordSection.tsx
  src/components/home/ScheduleSection/ScheduleSection.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/components/home/TeamSection/source.ts
  src/constants/images/images.ts
Labels: design, fix

#118 Interview route 이미지 적용
  public/images/interview/interview_banner.png
  public/images/interview/interview_banner_mobile.png
  src/components/common/Button/Button.tsx
  src/components/interview/HeaderSection/HeaderSection.tsx
  src/constants/images/images.ts
Labels: design, fix

#119 Interview typo 수정
  src/components/contact/ContactSection/ContactSection.tsx
  src/components/home/TeamSection/source.ts
  src/components/interview/InterviewSection/source.ts
Labels: fix, typo

#120 카카오 플러스 친구 링크 적용 및 타이포 수정
  src/components/common/NavigationBar/HamburgerContent.tsx
  src/components/common/NavigationBar/NavigationBar.tsx
  src/components/contact/ContactSection/ContactSection.tsx
  src/components/home/TeamSection/source.ts
  src/constants/common/depromeet.ts
Labels: feature, typo

#122 모집 페이지 QA 처리
  public/images/position/banner-android.png
  public/images/position/mobile-banner-android.png
  public/images/position/mobile-banner-backend.png
  public/images/position/mobile-banner-design.png
  public/images/position/mobile-banner-ios.png
  public/images/position/mobile-banner-web.png
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit-detail/HeaderSection/HeaderSection.tsx
  src/components/recruit-detail/OtherPositionSection/Card.tsx
  src/components/recruit-detail/OtherPositionSection/OtherPositionSection.tsx
  src/components/recruit-detail/OtherPositionSection/index.tsx
  src/components/recruit-detail/OtherPostionSection/index.tsx
  src/components/recruit-detail/constants.ts
  src/components/recruit/FaqSection/constants.ts
  src/components/recruit/PosiotionSection/Card.tsx
  src/components/recruit/ScheduleSection/ScheduleGraph.tsx
  src/components/recruit/ScheduleSection/ScheduleSection.tsx
  src/components/recruit/ScheduleSection/constants.ts
  src/pages/recruit/[position]/index.tsx
Labels: bug, design

#123 모집 페이지 - 지원하기 버튼 링크 연결
  src/components/home/ApplySection/ApplySection.tsx
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit-detail/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/InProgress.tsx
  src/constants/common/common.ts
  src/constants/common/index.ts
Labels: feature

#128 home route 헤더 이미지 추가
  public/images/home/home_header.png
  public/images/home/home_header_mobile.png
  src/components/home/HeaderSection/HeaderSection.tsx
Labels: feature

#127 리쿠르트 페이지 배경 추가
  public/images/position/banner-recruit.png
  public/images/position/mobile-banner-recruit.png
  src/components/recruit/HeaderSection/HeaderSection.tsx
Labels: design

#129 home route MoreInfor, Schedule 섹션 이미지 적용
  public/images/home/more-info/interview.png
  public/images/home/more-info/interview_mobile.png
  public/images/home/more-info/medium.png
  public/images/home/more-info/medium_mobile.png
  public/images/home/more-info/projects.png
  public/images/home/more-info/projects_mobile.png
  public/images/home/schedule/14to17.png
  public/images/home/schedule/14to17_mobile.png
  public/images/home/schedule/1to3.png
  public/images/home/schedule/1to3_mobile.png
  public/images/home/schedule/4to8.png
  public/images/home/schedule/4to8_mobile.png
  public/images/home/schedule/9to13.png
  public/images/home/schedule/9to13_mobile.png
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
  src/components/home/ScheduleSection/ScheduleSection.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/components/interview/InterviewSection/source.ts
Labels: feature

#132 Team 섹션 이미지, 로고 적용
  public/images/position/icon/android_mobile.png
  public/images/position/icon/backend_mobile.png
  public/images/position/icon/design_mobile.png
  public/images/position/icon/ios_mobile.png
  public/images/position/icon/web_mobile.png
  src/components/common/Footer/Footer.tsx
  src/components/common/NavigationBar/NavigationBar.tsx
  src/components/common/icons/DepromeetIcon.tsx
  src/components/home/TeamSection/TeamSection.tsx
  src/components/home/TeamSection/source.ts
Labels: feature, platform: mobile

#131 EndDate 변경
  src/constants/common/common.ts
Labels: bug

#133 모집 배터 object fit cover로 변경
  src/components/recruit-detail/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/HeaderSection.tsx
Labels: bug, design

#134 recruit 버튼 transition
  src/components/recruit-detail/OtherPositionSection/Card.tsx
  src/components/recruit/PosiotionSection/Card.tsx
Labels: design

#136 Fix : day-timmer
  src/utils/time.ts
Labels: bug

#138 Home route heading 적용
  src/components/common/icons/DepromeetIcon.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
Labels: feature

#139 MoreInfoSection 이미지 업데이트 및 옵션 설정
  public/images/home/more-info/medium_mobile.png
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
Labels: feature

#140 GNB Logo 사이즈 수정
  src/components/common/NavigationBar/NavigationBar.tsx
Labels: feature, design

#141 fix: mobile card color
  src/components/recruit/PosiotionSection/Card.tsx
Labels: design

#142 fix: key add currentTab
  src/components/recruit/FaqSection/FaqSection.tsx
Labels: bug

#143 fix: Remove motion at list
  src/components/recruit/FaqSection/FaqSection.tsx
Labels: bug

#145 SEO 컴포넌트 적용
  src/components/interview/HeaderSection/HeaderSection.tsx
  src/pages/project/[order].tsx
  src/pages/project/index.tsx
  src/pages/recruit/[position]/index.tsx
  src/pages/recruit/index.tsx
Labels: feature, design

#144 데이터 업데이트 및 스타일링 수정
  src/components/contact/OrganizerSection/source.ts
  src/components/project/ProjectDetailSection/ProjectDetailSection.tsx
  src/components/project/constants.ts
Labels: design, fix, typo

#148 aspect-ratio 미지원 브라우저 대응
  public/favicon.ico
  src/components/home/RecordSection/RecordSection.tsx
Labels: fix

#146 지원하기 배너 적용
  src/components/common/RecruitBanner/RecruitBanner.tsx
  src/components/common/RecruitBanner/index.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/HeaderSection/HeaderSection.tsx
  src/components/interview/InterviewSection/InterviewSection.tsx
  src/constants/common/depromeet.ts
  src/hooks/use-is-in-progress/index.ts
  src/hooks/use-is-in-progress/use-is-in-progress.ts
  src/pages/_app.tsx
Labels: feature, design

#147 fix: Add blur in header image
  src/components/recruit-detail/HeaderSection/HeaderSection.tsx
  src/components/recruit/HeaderSection/HeaderSection.tsx
Labels: bug

#149 Add recurit deatil annimation
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit-detail/OtherPositionSection/OtherPositionSection.tsx
Labels: design

#150 Link passHref, Button aria-label 적용
  src/components/common/NavigationBar/Anchor.tsx
  src/components/common/NavigationBar/HamburgerButton.tsx
  src/components/common/NavigationBar/NavigationBar.tsx
  src/components/common/RecruitBanner/RecruitBanner.tsx
  src/components/home/ApplySection/ApplySection.tsx
  src/components/home/MoreInfoSection/MoreInfoSection.tsx
Labels: refactor

#152 project 데이터 변경
  src/components/project/constants.ts
Labels: fix

#153 project 누락된 데이터 반영
  src/components/project/constants.ts
Labels: fix, typo

#151 recruit/[position] route SSG 적용
  src/pages/recruit/[position]/index.tsx
Labels: refactor

#154 RecruitCard 하나로 사용하기
  src/components/common/RecruitCard/RecruitCard.tsx
  src/components/common/RecruitCard/index.tsx
  src/components/recruit-detail/OtherPositionSection/OtherPositionSection.tsx
  src/components/recruit/PosiotionSection/Card.tsx
  src/components/recruit/PosiotionSection/PosiotionSection.tsx
Labels: refactor

#155 모바일 프로젝트 페이지 정렬 모달 추가
  src/components/common/BottomSheet/BottomSheet.tsx
  src/components/common/BottomSheet/index.tsx
  src/components/common/PortalWrapper/PortalWrapper.tsx
  src/components/common/PortalWrapper/index.tsx
  src/components/common/icons/ArrowIcon.tsx
  src/components/common/icons/CheckIcon.tsx
  src/components/project/ProjectSection/ProjectSection.tsx
  src/components/recruit/ScheduleSection/ScheduleSection.tsx
Labels: feature, design

#157 interview, question typo 수정
  src/components/interview/InterviewSection/source.ts
  src/components/recruit/FaqSection/constants.ts
Labels: typo

#156 favicon 업데이트, og 이미지 업로드 및 설정
  public/favicon.ico
  public/og-main.png
  src/components/common/SEO/SEO.tsx
Labels: feature

#158 지원하기 버튼에 GA 이벤트 심기
  src/components/recruit-detail/DescriptionSection/DescriptionSection.tsx
  src/components/recruit/HeaderSection/InProgress.tsx
  src/hooks/use-ga-event/index.ts
  src/hooks/use-ga-event/useGaEvent.ts
Labels: feature

#159 운영진 카드 디자인 오류 수정
  src/components/contact/OrganizerSection/OrganizerCard.tsx
Labels: design, fix

#160 Root 헤더 로고 svg 사이즈 적용
  src/components/home/HeaderSection/HeaderSection.tsx
Labels: design, fix
