Repository depromeet/www.depromeet.com, pull requests merged in 2023-09, with the labels that each got.

#247 codeOwners 업데이트
  .github/CODEOWNERS
Labels: chore

#246 14기 모집문구수정
  src/components/common/ApplySection/ApplySection.tsx
  src/constants/common/common.ts
  src/hooks/use-is-in-progress/use-is-in-progress.ts
Labels: feature

#250 [chore] storybook (^7.4.0) 설치
  .eslintrc.js
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/FAQ/FAQ.stories.tsx
  src/components/FAQ/FAQ.tsx
  src/components/FAQ/index.tsx
  yarn.lock
Labels: chore

#251 [Feat] Icon 컴포넌트 세팅 & storybook emotion 설정
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  package.json
  src/components/Icons/ArrowIcon.tsx
  src/components/Icons/Icon.stories.tsx
  src/components/Icons/Svg.tsx
  src/components/Icons/index.tsx
  yarn.lock
Labels: feature

#252 [Chore] Emotion theme 세팅
  .storybook/preview.tsx
  src/@types/emotion.d.ts
  src/components/FAQ/FAQ.stories.tsx
  src/components/FAQ/FAQ.tsx
  src/pages/_app.tsx
  src/styles/colors.ts
  src/styles/theme.ts
  src/styles/typo.ts
Labels: style

#253 [Feat] 버튼 컴포넌트, GNB, Footer 추가
  public/images/logo.png
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Footer/Footer.tsx
  src/components/Footer/index.ts
  src/components/GNB/GNB.tsx
  src/components/GNB/index.ts
  src/constant/depromeet.ts
  src/constant/footer.ts
  src/constant/gnb.ts
  src/hooks/useRecordPageView.ts
  src/pages/_app.tsx
  src/styles/colors.ts
  src/styles/globalStyle.tsx
Labels: feature, style

#255 [feat] FAQ 컴포넌트
  .vscode/settings.json
  src/components/FAQ/FAQ.stories.tsx
  src/components/FAQ/FAQ.tsx
  src/components/FAQ/FAQItem.tsx
  src/components/FAQ/FAQList.tsx
  src/components/FAQ/index.tsx
  src/styles/resetCss.ts
Labels: feature, style

#261 [feat]: typo 변경 사항 반영
  src/styles/typo.ts
Labels: style, chore

#257 [Feat] section title 컴포넌트
  src/components/ScheduleSection/ScheduleSection.stories.tsx
  src/components/ScheduleSection/ScheduleSection.tsx
  src/components/ScheduleSection/index.tsx
  src/components/SectionTitle/SectionTitle.stories.tsx
  src/components/SectionTitle/SectionTitle.tsx
  src/components/SectionTitle/index.tsx
  src/styles/typo.ts
Labels: feature, style

#256 [Feat] auto carousel with Swiper && 지난 기수 후기 컴포넌트
  package.json
  src/components/Review/Review.stories.tsx
  src/components/Review/ReviewItem.tsx
  src/components/Review/ReviewWrapper.tsx
  src/components/Review/index.tsx
  src/components/Swiper/Swiper.stories.tsx
  src/components/Swiper/Swiper.tsx
  src/components/Swiper/SwiperItem.tsx
  src/components/Swiper/index.tsx
  src/styles/typo.ts
  yarn.lock
Labels: style

#262 [Chore] chromatic 세팅
  .github/workflows/chromatic.yml
  package.json
  yarn.lock
Labels: chore, workflow

#259 [Feat] 모집 일정 컴포넌트
  src/components/ScheduleSection/ScheduleSection.tsx
Labels: feature

#263 [Feat] 전체지원자격 컴포넌트
  .github/workflows/chromatic.yml
  src/components/Qualification/Qualification.stories.tsx
  src/components/Qualification/QualificationBody.tsx
  src/components/Qualification/QualificationItem.tsx
  src/components/Qualification/QualificationWrapper.tsx
  src/components/Qualification/index.tsx
  src/utils/format.ts
Labels: feature, workflow

#264 [Feat] 모집직군 컴포넌트
  .storybook/main.ts
  public/images/position/aos.png
  public/images/position/design.png
  public/images/position/ios.png
  public/images/position/server.png
  public/images/position/web.png
  src/components/Positions/Positions.stories.tsx
  src/components/Positions/PositionsBody.tsx
  src/components/Positions/PositionsItem.tsx
  src/components/Positions/PositionsWrapper.tsx
  src/components/Positions/index.ts
  src/constant/image.ts
Labels: feature

#267 [chore] stroybook public 중복 설정 제거
  .storybook/main.ts
Labels: chore

#271 [Feat] Main 페이지 최상단
  public/images/main/main-bg.png
  src/components/TimerContainer/Timer.tsx
  src/components/TimerContainer/TimerContainer.stories.tsx
  src/components/TimerContainer/TimerContainer.tsx
  src/components/TimerContainer/index.tsx
  src/components/TimerContainer/useDiffDay.ts
  src/constant/common.ts
  src/hooks/useMounted.ts
  src/pages/index.tsx
Labels: feature

#269 [feat]: global layout
  src/styles/globalStyle.tsx
  src/styles/layout.ts
Labels: feature, style

#268 [refactor] 모집안내 페이지에서 사용하는 컴포넌트 구조 수정
  src/components/FAQ/FAQ.stories.tsx
  src/components/FAQ/FAQ.tsx
  src/components/FAQ/FAQItem.tsx
  src/components/FAQ/FAQList.tsx
  src/components/FAQ/index.tsx
  src/components/Positions/Positions.stories.tsx
  src/components/Positions/Positions.tsx
  src/components/Positions/PositionsWrapper.tsx
  src/components/Positions/index.ts
  src/components/Qualification/Qualification.stories.tsx
  src/components/Qualification/Qualification.tsx
  src/components/Qualification/QualificationBody.tsx
  src/components/Qualification/QualificationItem.tsx
  src/components/Qualification/QualificationWrapper.tsx
  src/components/Qualification/index.tsx
  src/components/Review/Review.stories.tsx
  src/components/Review/Review.tsx
  src/components/Review/ReviewItem.tsx
  src/components/Review/ReviewWrapper.tsx
  src/components/Review/index.tsx
  src/components/SectionTitle/SectionTitle.stories.tsx
  src/components/SectionTitle/SectionTitle.tsx
  src/constant/faq.ts
  src/constant/position.ts
  src/constant/qualification.ts
  src/constant/review.ts
Labels: refactor

#270 [Feat] 모집안내 페이지 개발
  src/components/FAQ/FAQ.tsx
  src/components/Positions/Positions.tsx
  src/components/Qualification/Qualification.tsx
  src/pages/recruit.tsx
Labels: feature

#273 [Feat] breakpoint theme 추가
  src/components/Button/Button.tsx
  src/styles/media.ts
Labels: style

#275 [Feat] 프로젝트 페이지 개발
  public/images/project/10기/noonbody.png
  public/images/project/11기/비어에어.png
  public/images/project/12기/KNOCKNOCK.png
  public/images/project/12기/PING-PONG!.png
  public/images/project/12기/TICLEMOA.png
  public/images/project/12기/꼬깃.png
  public/images/project/12기/똑스.png
  public/images/project/12기/아맞다.png
  public/images/project/12기/짝심삼일.png
  public/images/project/12기/코퀄리티.png
  public/images/project/13기/Ding-Dong (딩동).png
  public/images/project/13기/Na Lab(나랩).png
  public/images/project/13기/Pumping (펌핑).png
  public/images/project/13기/Street Drop.png
  public/images/project/13기/Whatnow (왔나).png
  public/images/project/13기/오버스윗.png
  public/images/project/13기/인사이트아웃.png
  public/images/project/13기/자린고비.png
  src/components/Thumbnail/Thumbnail.tsx
  src/constant/project.ts
  src/pages/project.tsx
Labels: feature

#276 [Feat] 버튼 컴포넌트 수정
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.tsx
  src/styles/media.ts
Labels: style

#278 [Feat] 반응형 layout
  public/images/main/passport-combination.png
  src/components/Journey/Journey.stories.tsx
  src/components/Journey/Journey.tsx
  src/components/Journey/index.tsx
  src/components/TimerContainer/TimerContainer.tsx
  src/pages/index.tsx
  src/styles/layout.ts
Labels: style

#285 [Feat] media 사이즈 변경
  src/styles/media.ts
Labels: style

#288 [Feat] dicimal 폰트 적용
  public/fonts/Decimal-Bold.woff
  public/fonts/Decimal-Medium.woff
  public/fonts/Decimal-Semibold.woff
  public/fonts/Decimal-book.woff
  public/fonts/Decimal-light.woff
  src/styles/font.ts
  src/styles/globalStyle.tsx
Labels: feature, style

#287 [Feat] about페이지 (후원사 제외)
  public/images/about/airplane.png
  public/images/about/passport.png
  public/images/session/final.png
  public/images/session/launching.png
  public/images/session/midterm.png
  public/images/session/networking.png
  public/images/session/usability.png
  src/components/AboutInfo/AboutInfo.tsx
  src/components/AboutInfo/index.tsx
  src/components/Contact/Contact.tsx
  src/components/Contact/index.tsx
  src/components/Footer/Footer.tsx
  src/components/OfflineSession/OfflineSession.tsx
  src/components/OfflineSession/OfflineThumbnail.tsx
  src/components/OfflineSession/index.tsx
  src/components/Thumbnail/Thumbnail.tsx
  src/constant/contactInfo.ts
  src/constant/offline.ts
  src/pages/about.tsx
  src/styles/typo.ts
Labels: feature, style

#292 [Fix] 일정 대문자로 변경
  src/components/ScheduleSection/ScheduleSection.tsx
Labels: style, fix, workflow

#294 [Fix]: 썸네일 블러처리 수정
  src/components/OfflineSession/OfflineThumbnail.tsx
  src/components/Thumbnail/Thumbnail.tsx
Labels: style

#298 [feat] : 모바일 gnb 인터렉션 + 외부 클릭시 닫히게 하기
  src/components/GNB/GNB.tsx
  src/components/GNB/MobileMenu.tsx
  src/components/GNB/MobileMenuIcon.tsx
  src/hooks/useDropdown.ts
Labels: feature

#297 [feat]: 메인 페이지 최하단 이미지(표지만) 너비 수정
  src/components/AboutInfo/AboutInfo.tsx
  src/components/Main/SignImageSection.tsx
  src/styles/style.utils.ts
  src/styles/typo.ts
Labels: feature

#296 [feat] footer 간격 수정
  src/components/Footer/Footer.tsx
Labels: feature

#295 [feat]: GNB 간격 및 디자인 수정
  src/components/GNB/GNB.tsx
  src/components/GNB/MobileMenu.tsx
  src/components/GNB/MobileMenuIcon.tsx
Labels: feature

#299 [Feat] about 페이지 반응형 작업
  src/components/AboutInfo/AboutInfo.tsx
  src/components/Contact/Contact.tsx
  src/components/OfflineSession/OfflineSession.tsx
  src/components/OfflineSession/OfflineThumbnail.tsx
  src/components/SectionTitle/SectionTitle.tsx
  src/constant/aboutInfo.ts
  src/styles/typo.ts
Labels: style

#301 [chore]: 폰트 수정
  src/styles/font.ts
Labels: style

#303 [Fix] 프로젝트 반응형 작업 / 더보기 버튼 문제 해결
  src/components/Thumbnail/Thumbnail.tsx
  src/pages/project.tsx
  src/utils/pagination.ts
Labels: bug, style

#289 [Feat] 프로젝트 carousel
  package.json
  src/components/ProjectCarousel/ProjectCarousel.stories.tsx
  src/components/ProjectCarousel/ProjectCarousel.tsx
  src/components/ProjectCarousel/ProjectCarouselItem.tsx
  src/components/ProjectCarousel/index.tsx
  src/components/Review/Review.tsx
  src/components/Review/ReviewItem.tsx
  src/components/Swiper/Swiper.stories.tsx
  src/components/Swiper/Swiper.tsx
  src/components/Swiper/SwiperItem.tsx
  src/components/Swiper/index.tsx
  src/pages/index.tsx
  yarn.lock
Labels: feature

#300 [Refactor] body1 mobile 14px로 수정
  src/components/Contact/Contact.tsx
  src/styles/typo.ts
Labels: style

#302 [Feat] 모바일 모집 안내 페이지 반응형
  public/images/position/aos.png
  public/images/position/design.png
  public/images/position/ios.png
  public/images/position/server.png
  public/images/position/web.png
  src/components/Main/Journey.tsx
  src/components/Positions/Positions.tsx
  src/components/Positions/PositionsItem.tsx
  src/components/ProjectCarousel/ProjectCarousel.tsx
  src/components/ProjectCarousel/ProjectCarouselItem.tsx
  src/components/Qualification/Qualification.tsx
  src/components/Qualification/QualificationItem.tsx
  src/components/Review/ReviewItem.tsx
  src/components/ScheduleSection/ScheduleSection.tsx
  src/styles/typo.ts
Labels: style

#313 [Fix] 배포데이에서 런칭데이로 문구 수정
  src/components/ScheduleSection/ScheduleSection.stories.tsx
  src/constant/schedule.ts
  src/pages/recruit.tsx
Labels: typo

#317 [chore] qa 반영(리뷰, 후원사, 워딩)
  src/components/Review/ReviewItem.tsx
  src/components/Supports/SupportThumbnail.tsx
  src/constant/offline.ts
  src/constant/review.ts
  src/constant/supports.ts
Labels: fix

#324 [hotfix] 후원사 컴포넌트 수정
  public/images/support/inflearn.png
  public/images/support/naver-cloud.png
  public/images/support/next.png
  public/images/support/모두의연구소.png
  src/components/Supports/Supports.tsx
Labels: chore
