Repository depromeet/www.depromeet.com, pull requests merged in 2023-03, with the labels that each got.

#195 Footer 개발 및 적용
  src/components/common/Footer/Footer.tsx
  src/constants/common/index.ts
  src/pages/_app.tsx
Labels: feature

#200 Footer 모바일 사이즈 대응
  src/components/common/Footer/Footer.tsx
Labels: platform: mobile

#199 공통 유틸 및 Apply Section 개발
  src/components/common/ApplySection/ApplySection.tsx
  src/components/common/ApplySection/index.tsx
  src/constants/common/common.ts
  src/pages/index.tsx
  src/styles/constants/colors.ts
  src/styles/css/index.ts
  src/styles/css/typo.ts
Labels: feature, style

#198 GNB 개발 및 Lazy motion 적용
  src/components/common/GNB/DesktopAnchorSection.tsx
  src/components/common/GNB/GNB.tsx
  src/components/common/GNB/HamburgerButton.tsx
  src/components/common/GNB/HamburgerContent.tsx
  src/components/common/GNB/MobileAnchorSection.tsx
  src/components/common/GNB/Overlay.tsx
  src/components/common/GNB/RecrutingBanner.tsx
  src/components/common/GNB/constants.ts
  src/components/common/GNB/index.tsx
  src/components/common/GNB/type.ts
  src/components/common/icons/ArrowIcon.tsx
  src/components/common/icons/AsteriskIcon.tsx
  src/components/common/icons/index.tsx
  src/hooks/use-media-query/use-media-query.ts
  src/hooks/use-toggle/index.ts
  src/hooks/use-toggle/use-toggle.ts
  src/pages/_app.tsx
  src/styles/constants/colors.ts
  src/styles/css/layoutCss.ts
Labels: feature, style

#197 커스텀 커서 개발
  .swcrc
  package.json
  public/common/cursor.webp
  src/components/common/Clickable/ClickableButton.tsx
  src/components/common/Clickable/ClickableLink.tsx
  src/components/common/Clickable/index.tsx
  src/components/common/CustomCursor/CustomCursor.tsx
  src/components/common/CustomCursor/index.tsx
  src/pages/_app.tsx
  src/store/cursor/cursor.ts
  src/store/cursor/index.ts
  src/store/cursor/useCursorState.ts
  src/styles/GlobalStyle/GlobalStyle.tsx
  yarn.lock
Labels: feature, style

#203 feat: 커스텀 커서 window 밖으로 나갈 경우, 안보이게 하기
  src/components/common/CustomCursor/CustomCursor.tsx
Labels: feature

#201 홈 페이지
  public/images/home/header-back.webp
  public/images/home/header-front.png
  public/images/home/header.webp
  public/images/home/heart.webp
  public/images/home/meet.webp
  public/images/home/mobile-header-back.webp
  public/images/home/mobile-header-front.webp
  public/images/home/mobile-heart.webp
  public/images/home/mobile-meet.webp
  public/images/home/mobile-programmer.webp
  public/images/home/programmer.webp
  public/sitemap-0.xml
  src/components/common/icons/ArrowIcon.tsx
  src/components/home/.gitkeep
  src/components/home/BigArrowIcon.tsx
  src/components/home/ContentsSection.tsx
  src/components/home/HeaderSection.tsx
  src/components/home/IntroductionSection.tsx
  src/constants/images/images.ts
  src/constants/images/index.ts
  src/pages/index.tsx
  src/styles/GlobalStyle/GlobalStyle.tsx
  src/styles/constants/colors.ts
Labels: feature, platform: web, platform: mobile, style

#206 A to Z 페이지
  public/images/about/android.webp
  public/images/about/coffeechat.webp
  public/images/about/designer.webp
  public/images/about/group.webp
  public/images/about/hackathon.webp
  public/images/about/ios.webp
  public/images/about/meeting.webp
  public/images/about/networking.webp
  public/images/about/server.webp
  public/images/about/study.webp
  public/images/about/web.webp
  public/images/sponsor/impact-campus.svg
  src/components/about/.gitkeep
  src/components/about/DesktopSessions.tsx
  src/components/about/HeaderSection.tsx
  src/components/about/JobGroupSection.tsx
  src/components/about/MobileSessions.tsx
  src/components/about/MoreExperienceSection.tsx
  src/components/about/SessionSection.tsx
  src/components/about/SponsorSection.tsx
  src/components/about/sessionCss.ts
  src/components/common/icons/ArrowIcon.tsx
  src/components/common/icons/SharpInCircleIcon.tsx
  src/constants/images/images.ts
  src/pages/about.tsx
Labels: feature, platform: web, platform: mobile

#219 모바일 커스텀커서 비활성화 및 아이패드 사파리 userAgent 대응
  src/components/common/CustomCursor/CustomCursor.tsx
  src/hooks/use-user-agent/use-user-agent.ts
Labels: feature, refactor

#217 홈 타이포 변경
  src/components/home/IntroductionSection.tsx
Labels: typo

#218 GNB 업데이트
  src/components/common/GNB/DesktopAnchorSection.tsx
  src/components/common/GNB/RecrutingBanner.tsx
  src/components/common/icons/DepromeetIcon.tsx
Labels: feature, typo

#222 a to z 페이지 보강 및 오픈그래프 이미지 변경
  public/images/about/header-back.webp
  public/images/about/header-front.webp
  public/images/about/mobile-header.webp
  public/og-main.png
  public/og-main.webp
  public/sitemap-0.xml
  src/components/about/HeaderSection.tsx
  src/components/about/JobGroupSection.tsx
  src/components/about/MoreExperienceSection.tsx
  src/components/common/SEO/SEO.tsx
  src/pages/about.tsx
Labels: feature

#223 모바일 클릭 로직 보강
  src/components/contact/OrganizerCard.tsx
Labels: fix

#224 지원 링크 추가 및 전체적인 보강
  public/favicon.ico
  public/og-main.webp
  src/components/common/ApplySection/ApplySection.tsx
  src/components/common/Footer/Footer.tsx
  src/components/common/GNB/DesktopAnchorSection.tsx
  src/components/common/GNB/HamburgerContent.tsx
  src/components/common/GNB/MobileAnchorSection.tsx
  src/components/common/GNB/constants.ts
  src/components/common/icons/DepromeetIcon.tsx
  src/constants/common/common.ts
  src/styles/GlobalStyle/GlobalStyle.tsx
Labels: feature, style

#225 not found page
  src/pages/404.tsx
Labels: feature

#212 프로젝트 디테일 데스크탑
  public/images/position/icon/back.webp
  public/images/position/icon/project-link--active.webp
  public/images/position/icon/project-link--default.webp
  public/images/position/icon/project-prize.webp
  public/sitemap-0.xml
  src/components/common/SEO/SEO.tsx
  src/components/project-detail/ProjectDetailSection/ProjectDetailSection.tsx
  src/components/project-detail/ProjectDetailSection/index.tsx
  src/components/project/constants.ts
  src/constants/images/images.ts
  src/pages/project/[projectTitle].tsx
Labels: feature

#204 feat: 리쿠르트 페이지
  public/images/recruit/home.webp
  src/components/common/icons/AnswerIcon.tsx
  src/components/common/icons/DropdownIcon.tsx
  src/components/common/icons/QuestionIcon.tsx
  src/components/common/icons/index.tsx
  src/components/recruit/FAQSection.tsx
  src/components/recruit/HeaderSection.tsx
  src/components/recruit/JobGroupSection.tsx
  src/components/recruit/QualificationSection.tsx
  src/components/recruit/Recurit.style.tsx
  src/components/recruit/ScheduleSection.tsx
  src/components/recruit/contstants.ts
  src/pages/recruit/index.tsx
Labels: feature, platform: web, platform: mobile

#215 feat: 리쿠르트 디테일
  package.json
  public/images/recruit-detail/header-android.webp
  public/images/recruit-detail/header-design.webp
  public/images/recruit-detail/header-ios.webp
  public/images/recruit-detail/header-server.webp
  public/images/recruit-detail/header-web.webp
  public/images/recruit-detail/김동규.webp
  public/images/recruit-detail/김민수.webp
  public/images/recruit-detail/김주환.webp
  public/images/recruit-detail/김혜인.webp
  public/images/recruit-detail/박수연.webp
  public/images/recruit-detail/오혜성.webp
  public/images/recruit-detail/이성태.webp
  public/images/recruit-detail/이승희.webp
  public/images/recruit-detail/이종원.webp
  public/images/recruit-detail/이찬진.webp
  public/images/recruit-detail/임효연.webp
  public/images/recruit-detail/전해성.webp
  public/images/recruit-detail/정대윤.webp
  public/images/recruit-detail/차요셉.webp
  public/images/recruit-detail/황규일.webp
  src/components/common/icons/AndPersentCircleIcon.tsx
  src/components/common/icons/BraceCircleIcon.tsx
  src/components/recruit-detail/DescriptionSection.tsx
  src/components/recruit-detail/HeaderSection.tsx
  src/components/recruit-detail/PreviousSection.tsx
  src/components/recruit-detail/RecruitDetail.style.tsx
  src/components/recruit-detail/TipSection.tsx
  src/components/recruit-detail/constants.ts
  src/pages/recruit/[position]/index.tsx
  yarn.lock
Labels: feature, platform: web, platform: mobile

#228 project detail mobile
  src/components/project-detail/HeaderSection.tsx
  src/components/project-detail/MobileProjectDetailSection.tsx
  src/components/project-detail/OtherProjectSection.tsx
  src/components/project-detail/ProjectDetailLink.tsx
  src/components/project-detail/ProjectDetailSection.tsx
  src/components/project-detail/ProjectDetailSection/index.tsx
  src/components/project/ProjectItem/ProjectItem.tsx
  src/components/project/constants.ts
  src/constants/images/images.ts
  src/pages/project/[projectTitle].tsx
Labels: feature

#227 프로젝트 페이지 반응형 대응 및 트랜지션 적용
  public/project/downward_arrow.webp
  public/project/growth_front.webp
  public/project/header-back.webp
  public/project/header-front.webp
  public/project/mobile-header-back.webp
  public/project/mobile-header-front.webp
  public/project/passion_front.webp
  src/components/common/BottomSheet/BottomSheet.tsx
  src/components/project/HeaderSection/HeaderSection.tsx
  src/components/project/HorizontalDivider/HorizontalDivider.tsx
  src/components/project/MobileProjectList/MobileProjectList.tsx
  src/components/project/ProjectContainer/ProjectContainer.tsx
  src/components/project/ProjectItem/ProjectItem.tsx
  src/components/project/ProjectList/ProjectList.tsx
  src/components/project/ProjectListSection/ProjectListSection.tsx
  src/components/project/SelectGeneration/SelectGeneration.tsx
  src/pages/project/index.tsx
Labels: platform: tablet, style

#230 fix: 모집 페이지 빠진 clickable 및 frontend web으로 텍스트 변경
  src/components/recruit-detail/PreviousSection.tsx
  src/components/recruit-detail/TipSection.tsx
  src/components/recruit/JobGroupSection.tsx
  src/components/recruit/contstants.ts
Labels: bug

#231 프로젝트 디테일 다른 프로젝트 및 모집 디테일 링크 로직 변경
  src/components/project-detail/HeaderSection.tsx
  src/components/project-detail/OtherProjectSection.tsx
Labels: feature, fix

#232 남은 날짜 계산 및 로직 적용
  src/components/common/ApplySection/ApplySection.tsx
  src/components/common/GNB/GNB.tsx
  src/components/recruit/.gitkeep
  src/components/recruit/HeaderSection.tsx
  src/constants/common/common.ts
  src/constants/common/index.ts
  src/hooks/use-is-in-progress/use-is-in-progress.ts
Labels: feature

#236 홈 years typo
  src/components/home/IntroductionSection.tsx
Labels: chore

#239 fix: 프로젝트 상세 - 이미지 flickering
  src/components/project-detail/HeaderSection.tsx
Labels: bug

#238 fix: 프로젝트 리스트 hover shadow, 클릭 영역 확장
  src/components/project/ProjectItem/ProjectItem.tsx
Labels: bug

#241 그래디언트 방향 변경
  src/components/project/ProjectItem/ProjectItem.tsx
Labels: fix

#242 D-day 설정 및 커스텀 커서 스크롤 대응
  src/components/common/CustomCursor/CustomCursor.tsx
  src/components/recruit/HeaderSection.tsx
Labels: feature

#243 11기 수상 내역 적용
  src/components/project/constants.ts
Labels: chore
